@import "tailwindcss";

.font-Amaranth {
  font-family: var(--font-amaranth), sans-serif;
}
.font-inter {
  font-family: var(--font-inter), sans-serif;
}
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
.font-antonio {
  font-family: var(--font-antonio), sans-serif;
}

.jodit-container.jodit.jodit_theme_default.jodit-wysiwyg_mode {
  border: none;
}