@import "tailwindcss";

/* @font-face {
  font-family: 'Amaranth';
  src: url('/fontcopy/Amaranth/Amaranth-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fontcopy/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fontcopy/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url('/fontcopy/Antonio/Antonio-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: 'Amaranth';
  src: url('/fontcopy/Amaranth/Amaranth-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('/fontcopy/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('/fontcopy/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Antonio';
  src: url('/fontcopy/Antonio/Antonio-Regular.ttf') format('truetype');
}

.font-Amaranth {
  font-family: 'Amaranth', sans-serif;
} 
.font-inter {
  font-family: 'Inter', sans-serif;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-antonio {
  font-family: 'Antonio', sans-serif;
}